<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title)%></title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <header>
            <h1 class="logo">Julio Cesar</h1>
            <nav>
                <ul class="nav-bar a li">
                    <li><%= link_to "Home", home_path, :class => @homeactive%></li>
                    <li><%=link_to "Favorite Band",band_path, :class => @bandactive%></li>
                    <li><%=link_to "Favorite Sport", sport_path, :class => @sportactive%></li>
                    <li><%=link_to "About Me", about_path, :class => @aboutactive%></li>
                </ul>
            </nav>
        </header>

        <section class="container">
            <%= yield %>
            <%= image_tag(@imag, :alt => @alt, :size => @size, :class =>"imag") %>
        </section>
        <footer>
            <div class="bottom-bar">
                All Rights Reserved © 2017
            </div>
        </footer>
    </body>
</html>
